body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

section {
    height: 100%;
    position: relative;
    z-index: 1;
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}