body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.App {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    background-color: #0D0D0D;
    transition: background-color 0.5s ease;
}

section {
    height: 100%;
    position: relative;
    z-index: 1;
    background-color: #0D0D0D;
    background-size: cover;
    background-attachment: fixed;
    transition: background-color 0.5s ease;
}
