.contact-section {
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 10px;
}

.contact-section h2 {
    color: #ffffff;
    margin-bottom: 2rem;
}

.contact-info {
    background-color: var(--primary-bg-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 2rem;
}

.contact-info h4 {
    color: var(--text-primary);
    margin-bottom: 0.5rem;
}

.contact-info p {
    color: var(--text-secondary);
    margin-bottom: 0.5rem;
}

.contact-info a {
    color: var(--text-secondary);
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-section .btn-primary {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.contact-section .btn-primary:hover {
    background-color: var(--primary-hover-color);
}

.contact-form {
    background-color: var(--card-bg-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
    border-radius: 4px;
}

.contact-form .btn-primary {
    width: 100%;
}
