.contact-section {
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 10;
}

.contact-section h2 {
    color: #ffffff;
    margin-bottom: 2rem;
}

.contact-info {
    background-color: #001d9c9f;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contact-info h4 {
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.contact-info p {
    color: #F5F5F5;
    margin-bottom: 0.5rem;
}

.contact-info a {
    color: #F5F5F5;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-section .btn-primary {
    background-color: #00082b;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}

.contact-section .btn-primary:hover {
    background-color: #1e328a;
}