.projects-section {
    background-color: #fff;
    padding: 2rem 0;
}

.projects-section h2 {
    color: #312F3D;
    text-align: center;
    margin-bottom: 2rem;
}

.project-card {
    background-color: #D5DCE5;
    border: none;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card .card-img-top {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 0.5rem;
}

.project-card .card-img-max {
    max-width: 200px;
    max-height: 300px;
    margin-bottom: 0.5rem;
}


.project-card .card-title {
    color: #6470A3;
    font-size: 1.25rem;
}

.project-card .card-text {
    color: #312F3D;
    font-size: 1rem;
}

.project-card .card-text strong {
    color: #6470A3;
}

@media (max-width: 768px) {
    .project-card .card-img-top {
        width: 100%;
        height: auto;
    }
}